include LICENSE README.md README.rst
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-include wagtailmodeladmin *
recursive-exclude wagtailmodeladmin *.pyc
