{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags compress admin_urls admin_static wagtailmodeladmin_tags %}

{% block titletag %}{{ title }}{% endblock %}

{% block css %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'wagtailmodeladmin/css/choose_parent_page.css' %}" type="text/css"/>
    {% endcompress %}
    {{ media.css }}
    <style type="text/css">
        .nav-main li.menu-{{ module_name_plural }} {
            background: #1a1a1a;
            text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3);
        }
        .nav-main li.menu-{{ module_name_plural }} > a {
            border-left-color: #f37e77;
            color: white;
        }
    </style>
{% endblock %}

{% block extra_js %}
    {{ media.js }}
{% endblock %}

{% block content %}
<div id="content-main">
    <header class="nice-padding" style="margin-bottom: 30px;">
    <div class="row">
        <div class="left">
            <div class="col">
                <h1 class="icon {{ module_icon }}">{% blocktrans with module_name|title as name %}Add {{ name }}{% endblocktrans %}</h1>
            </div>
        </div>
    </div>
    </header>
    <div class="nice-padding">
        <h2>{% trans 'Where should it live?' %}</h2>
        <p>{% blocktrans with module_name_plural|title as plural and module_name|title as singular %}{{ plural }} can be added to more than one place within your site. Please tell us where you'd like this new {{ singular }} to live...{% endblocktrans %}</p>
        <form action="" method="POST">
            {% csrf_token %}
            <ul class="fields">
                {% for field in form %}
                <li class="required{% if field.errors %} error{% endif %}">
                    <label for="{{ field.id_for_label }}" style="width:auto;">{{ field.label }}:</label>
                    {{ field }}
                </li>
                {% endfor %}
                <li><input type="submit" class="button" value="{% trans 'Continue' %}"></li>
            </ul>            
        </form>
    </div>
</div>
{% endblock %}
