{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailmodeladmin_tags %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title=view.get_page_title subtitle=view.get_page_subtitle icon=view.header_icon %}

    <div class="nice-padding">	
    	{% if error_protected %}
    		<h2>{% blocktrans %}Sorry, there was a problem{% endblocktrans %}</h2>
    		<p>{% blocktrans with instance as instance_name %}{{ instance_name }} cannot be deleted because it currently has protected relationships with other things. To delete {{ instance_name }}, address it's relationships with the following items, then try again:{% endblocktrans %}</p>
    		<ul>
    			{% for obj in linked_objects %}<li><b>{{ obj|get_content_type_for_obj|title }}:</b> {{ obj }}</li>{% endfor %}
    		</ul>
    		<p><a href="{{ view.get_index_url }}" class="button">{% trans 'Okay, go back' %}</a></p>
    	{% else %}
	        <p>{{ view.confirmation_message }}</p>
	        <form action="{{ view.get_delete_url }}" method="POST">
	            {% csrf_token %}
	            <input type="submit" value="{% trans 'Yes, delete' %}" class="serious" />
	        </form>
	    {% endif %}
    </div>
{% endblock %}
